<div class="containner">
    <div class="header">

    </div>
    <div class="form-container">
        <div class="form-header">
            <p>Obrigado</p>
        </div>
        <div class="form-body">
            <h1 class="form-title">Formulário Recebido com Sucesso!</h1>
            <p>Objetivo atingido. Seus dados estão em análise.</p>
        </div>
    </div>
</div>